<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${car.spz}"></title>
</head>
<body>
<a th:href="@{'/cars/edit' + ${index}}">Edit car</a></br>
<a th:href="@{'/cars/delete' + ${index}}">Delete car</a></br>
<b>SPZ: </b> <span th:text="${car.spz}"></span>
<b>Color: </b> <span th:text="${car.color}"></span>
<b>Engine: </b> <span th:text="${car.engine}"></span>
<b>Tank volume: </b> <span th:text="${car.tankVolume}"></span>
<b>Number of seats: </b> <span th:text="${car.numberOfSeats}"></span>
</body>
</html>